body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  color: antiquewhite;
  background-color: #242b3d;
}

p {
  margin: 0;
}

.page .container {
  padding-bottom: 8px;
}

.container {
  width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 50;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;

  background-color: rgb(247, 185, 105);
  border-bottom: 1px solid rgb(165, 126, 0);

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.search-form {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 12px;
}

.search-form__input {
  width: 300px;
  height: 32px;
  padding: 0 8px;

  font-size: 16px;

  background-color: transparent;

  border-color: black;
  border-radius: 4px;
}

.search-form__input::placeholder {
  color: rgb(83, 77, 77);
}

.btn {
  font-size: 16px;

  color: antiquewhite;
  background-color: #2a3f79;

  border-color: #2a3f79;
  border-radius: 4px;
}

.search-form__btn {
  width: 72px;
  height: 36px;
}

.load-more__btn {
  display: block;
  width: 120px;
  height: 40px;
  margin: 0 auto;

  font-weight: 700;

  color: rgb(66, 58, 58);
  background-color: rgb(247, 185, 105);
  border-color: rgb(165, 126, 0);
}

.load-more__btn.is-hidden {
  display: none;
}

.load-more__btn:disabled {
  background-color: rgb(182, 147, 101);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  padding-top: 90px;
  padding-bottom: 30px;
}

.photo-card {
  width: calc((100% - 90px) / 4);
  height: 262px;
}

.photo-card__img {
  display: block;
  width: 150px;
  width: 100%;
  max-height: 210px;
  margin-bottom: 16px;

  object-fit: fill;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;

  transition: transform 0.25s ease-in-out;
}

.photo-card__img:hover {
  transform: scale(1.1);
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 18px;

  font-size: 14px;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;

  font-weight: 700;
}
